body { 
    height: 100px;
    position: relative;

}
.estatico{
    position: estatic;
    background-color: blue;
    padding: 10px

}
.relativo{
    position: relative;
    background-color: green;
    padding: 10px;
    top: 50px;
    left: 50px;
}
.fijo{
    position: fixed;
    background-color: red;
    color:aliceblue;
    padding: 10px;
    bottom: 50px;
    right: 50px;
}