.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "header header"
        "aside main"
        "footer footer";
}
header {
    grid-area: header;
    background-color: rgb(3, 116, 31);
    padding: 10px;
}
aside {
    grid-area: aside;
    background-color: rgb(141, 12, 12);
    padding: 10px;
}
main {
    grid-area: main;
    background-color: rgb(46, 35, 202);
    padding: 10px;
}
footer {
    grid-area: footer;
    background-color: rgb(226, 10, 10);
    padding: 10px;
}

.layout > * {
    border: 2px solid darkred;
    text-align: center;
    font-size: 1.5m;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 20 px;
}