.boton{ 
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.boton:hover {
    background-color: green;
    color: white;
    border: 2px solid green;
    transform: scale(1.1);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}