h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(197, 169, 114);
    text-align: center;
}
.subtitulo {
    color: rgb(197, 169, 114);
    background-color: lightgray;
    text-align: center;
}