.fondo {
   color: white;
   background-image: url(fondo2.jpg);
   background-size: cover;
   background-position: center;
   background-color: whitesmoke;
   padding: 30px;
   opacity: 1.9;
   text-align: center;
   font-size: 34px;
}


