.body {
    height: 1000px;
    position: relative;
}
.estatico {
      position: static;
      background-color: #8D6E63;
      padding: 10px;
}
.relativo {
      position: relative;
      background-color: #D9BC9A;
      padding: 10px;
      top: 10px;
      left: 10px;
}
.fijo {
      position: fixed;
      background-color: blue;
      color: white;
      padding: 10px;
      bottom: 50px;
      right: 50px;
}


