@keyframes mover {
      0% { transform: translateX(0); background-color: #D98609; }
      50% { transform: translateX(200px); background-color: #8BD909; }
      100% { transform: translateX(0); background-color: #D98609; }
}

.caja {
      width: 150px;
      height: 100px;
      background-color: red;
      animation: mover 3s infinite ease-in-out;
      display: flex;
      justify-content: left;
      color: white;
      border-radius:16px;
}