.menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: #F2B66D;
      color: #fff;
      padding: 15px;
      height: 90vh;
}
.menu div {
      background-color: #BF9056;
      margin: 10px;
      padding: 10px;
      width: 80%;
      text-align: center;
      border-radius: 1.5em;
      box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}
@media (min-width: 600px) {
      .menu {
            flex-direction: row;
            height: auto;
      }
      .menu div {
            width: auto;
            flex: 1;
      }
}
@media(min-width: 1024px) {
      .menu {
            justify-content: space-around;
            padding: 20px 50px;
      }
      .menu div {
            font-size: 2em;
            margin: 0 20px;
            padding: 30px;
      }
}